@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.background-image-gradient {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    pointer-events: none;
}

.panel-count {
    font-family: "Montserrat", sans-serif;
}

/* section 8 */

.sec-8 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    gap: 1.5rem;
}

.sec-8 > * {
  font-family: "Montserrat", sans-serif;
}

.sec-8 h3 {
    font-weight: bold;
    font-size: 2.75vw;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    color: #000000;
}

.sec-8 .sec-8-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.sec-8 .sec-8-grid .sec-8-grid-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.sec-8 .sec-8-grid .sec-8-grid-item:nth-child(even) {
    flex-direction: row-reverse;
}

.sec-8 .sec-8-grid .sec-8-grid-item p {
    width: fit-content;
    font-size: 1.45vw;
    font-weight: bold;
    text-align: right;
    line-height: 1.85vw;
    color: #000000;
}

.sec-8 .sec-8-grid .sec-8-grid-item img {
    height: auto;
    width: 100%;
    object-fit: cover;
    max-width: 45%;
}

/* section 9 */


.sec-9 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    gap: 1.5rem;
}

.sec-9 h3 {
    font-weight: bold;
    font-size: 2.75vw;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    color: #000000;
}

.sec-9 .sec-9-grid {
    display: flex;
    gap: 1.25rem;
    width: 90%;
    margin: 1rem auto;
    justify-content: center;
}

.sec-9 .sec-9-grid .sec-9-grid-item {
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
border-radius: 1vw;
padding: 1vw;
display: flex;
flex-direction: column;
gap: 1rem;
background-color: white;
}

.sec-9 .sec-9-grid .sec-9-grid-item p {
    text-align: center;
    font-size: 1.5vw;
    color: #FBB24A;
    font-weight: bold;
}

.sec-9 .sec-9-grid .sec-9-grid-item img {
    height: auto;
    width: 100%;
    object-fit: cover;
    max-width: 85%;
    display: block;
    margin: 0 auto;
}

.sec-9 .sec-9-grid .sec-9-grid-item:last-child {
    display: none;
}


.sec-9-vertical-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

/* section 10 */

.sec-10>* {
    font-family: "Montserrat", sans-serif;
}


.sec-10 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    gap: 1.5rem;
}

.sec-10 h3 {
    font-weight: bold;
    font-size: 3vw;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    color: #000000;
}

.sec-10 p {
    font-size: 1.25vw;
    color: #000000;
    font-weight: 500;
}

.sec-10 p span {
    font-weight: 500;
    font-size: .8vw;
}

.sec-10 .sec-10-grid {
    text-align: center;
    /* centers the inline-blocks horizontally */
    width: 85%;
    margin: 1rem auto;
    font-size: 0;
    /* remove whitespace gaps */
}

.sec-10 .sec-10-grid>.sec-10-grid-item {
    display: inline-flex;
    vertical-align: top;
    width: calc(100% / 7 - 1.25rem);
    margin: 0.55rem;
    font-size: initial;
    min-height: 12.7vw;
}

.sec-10 .sec-10-grid .sec-10-grid-item {
    border: 4px solid #FBB24A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vw;
    margin-bottom: 1.2rem;
}

.grid-item-inner-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    justify-self: baseline;
    align-self: center;
}

.sec-10 .sec-10-grid .sec-10-grid-item p {
    text-align: center;
    font-size: .95vw;
    color: #000000;
    font-weight: 600;
    width: 90%;
    margin: .75vw auto 0 auto;
}
.sec-10 .sec-10-grid .sec-10-grid-item img {
    height: auto;
    width: 100%;
    object-fit: cover;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.sec-10 .sec-10-grid .sec-10-grid-item:last-child {
    display: none;
}


.sec-10-vertical-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}